.numbred-heading{
    display: flex;
    align-items:first baseline;
    gap: 10px;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 32px;
    color: #ccd6f6;
    white-space: nowrap;
}
.numbred-heading h2{
    font-weight: 600;
}
.number{
    font-size: 25px;
    color: hsl(184, 100%, 50%);

}
.numbred-heading::after{
    content: "";
  display: block;
  margin: 10px;
  width: 60%; /* Adjust this to control the width of the line */
  height: 0.5px; /* Line thickness */
  background-color: rgb(168, 178, 209,0.3); /* Line color */
}