.line {
  position: fixed;
  height: 150px;
  border-right: 2px solid #8f96a3;
  top: 80vh;
  left: 60px;
}
.github-icon {
  position: fixed;
  color: #8f96a3;
  top: 64vh;
  left: 49px;
  height: 22px;
  width: 22px;
}
.linkedin-icon {
  position: fixed;
  color: #8f96a3;
  top: 72vh;
  left: 49px;
  height: 22px;
  width: 22px;
}
.email-icon {
  position: fixed;
  color: #8f96a3;
  top: 55vh;
  left: 49px;
  height: 22px;
  width: 22px;
}
