.nav {
  height: 90px;
  width: 100vw;
  font-size: 14px;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  align-items: end;
  justify-content: center;
}
.links {
  display: flex;
  color: #8f96a3;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 50vw;
}
.resume-link {
  width: 70px;
  padding: 10px 0 10px 0;
  color: hsl(184, 100%, 50%);
  border: 1px hsl(184, 100%, 50%) solid;
  width: 100px;
  text-align: center;
  display: block;
  border-radius: 5px;
}
.number {
  color: hsl(184, 100%, 50%);
}
.logo {
  position: absolute;
  top: 25px;
  left: 40px;
  height: 35px;
  width: 35px;
}
